MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_USER_PASS=
KEYCLOAK_DB_USER=paxton_pguser
# avoid using special characters for Keycloak user password
KEYCLOAK_DB_USER_PASS=
KEYCLOAK_DB=paxton_db