@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-dark: #25262b;
  --color-background-light: #f5f5f9;
}

html,
body,
#root,
#px-app > div {
  min-height: 100%;
}

.px-user-resume-description ::-webkit-scrollbar {
  width: 0.2rem;
  background: rgb(235, 235, 235);
}

.px-user-resume-description ::-webkit-scrollbar-thumb {
  background: #cdcdcd;
}

.px-expandable-text {
  --max-lines: 3;
  --line-height: 1.5;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;
}

.px-expandable-text:has(
    + .px-expandable-text-expand-btn:not(:checked)
  )::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
}

.px-expandable-text-expand-btn {
  appearance: none;
}

.px-expandable-text-expand-btn::before {
  content: "... see more";
}

.px-expandable-text-expand-btn:checked:before {
  content: "show less";
}

.px-expandable-text:has(~ .px-expandable-text-expand-btn:checked) {
  max-height: none;
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-content ol {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-editor {
  font-size: 14px;
}

.ck.ck-content h1 {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.ck.ck-content h2 {
  font-size: 1rem;
  line-height: 1.75rem;
}
